h1 {
    color: #c23616;
    background-color: #e1b12c;
    border: 2px solid #ccc;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
    
}

.mortal {
    background-color: black;
    color: red;
    border: 2px solid #ccc;
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

nav {
    margin: 0 auto;
    width: 1000px;
}

.column {
    float: left;
    width: 33.33%;
    text-align: center;
}

ul {
    margin: 0 auto;
    width: 1000px;
    text-align: center;
    list-style-type: none;
}

li {
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #dddddd;
}

nav li {
    display: inline;
}

