h1 {
    color: red;
    border: 2px solid #ccc;
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.mortal {
    background-color: black;
    color: red;
    border: 2px solid #ccc;
    width: 500px;
    margin: 0 auto;
    text-align: center;
}